
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<ul>
    <li>@Html.ActionLink("Sales Report", "Index", "Sales_Report")</li>
    <li>@Html.ActionLink("Member List", "Members", "Users")</li>
    <li>@Html.ActionLink("Customer List", "Customers", "Users")</li>
    <li>@Html.ActionLink("Employee List", "Employees", "Users")</li>
</ul>